body {
  font: 75% "Helvetica Nueu", helvetica, sans-serif;
  background: #f3f2c0 url('/static/background.jpg');
}

#page {
  width: 922px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border: 2px solid #B3622A;
  min-height: 600px;
}

#header {
  background: white url('/static/header.jpg');
  height: 164px;
  position: relative;
}

#header h2 {
  margin: 0;
  padding: 0;
}

#header #logo a {
  display: block;
  width: 160px;
  height: 145px;
  position: relative;
  left: 115px;
  text-indent: -10000px;
}

#header form {
  position: relative;
  top: -130px;
  left: 600px;
  width: 300px;
  color: #999;
}

#header form label {
  position: absolute;
  margin-left: 24px;
  margin-top: 6px;
  z-index: 2;
}

#header form input[type="text"]{
  background: white url('/static/openid-icon.gif') no-repeat;
  position: relative;
  width: 200px;
  margin-right: 10px;
  padding-left: 20px;
  top: -3px;
  z-index: 1;
}

#header #nav {
  position: absolute;
  list-style: none;
  top: 103px;
  left: 520px;
}

#header #nav li {
  float: left;
}

#header #nav li a {
  font-size: 1.1em;
  color: #D9A684;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 2px;
  display: block;
}

#header #nav li a:hover {
  background: #A36E49;
}

#home #nav .home a {
  background: #cf7842;
}

#home #nav .home a:hover{
  background: #cf7842;  
}

#content {
  padding: 10px;
  margin-top: -17px;
  font-size: 1.2em;
}