body {
  font: 75% "Helvetica Nueu", helvetica, sans-serif;
  background: #C58A6A url('/static/background.jpg');
}

span.amp {
  font-family: "Goudy Old Style", "Palatino","Book Antiqua",serif;
  font-size: 130%;
}

h1 {
  font-family: Georgia, sans;
  font-weight: normal;
  letter-spacing: 2px;
}

#page {
  width: 922px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border: 2px solid #B3622A;
  min-height: 600px;
}

#header .wrap {
  position: relative;
  overflow: auto;
  background: #8B4313 url('/static/header.jpg');
  border-bottom: 3px solid #B3622A;
  overflow: hidden;
}

#header hr {
  display: none;
}

#header h2#logo {
  margin: 0;
  padding: 0;
  position: relative;
}

#header #logo a {
  position: absolute;
  top: 5px;
  left: 124px;
  color: white;
  font-size: 1.5em;
  line-height: 1.3em;
  z-index: 100 !important;
}
#header #logo a img { border: none; }

#header form {
  position: absolute;
  top: 10px;
  left: 600px;
  width: 300px;
  color: #999;
}

#header form label {
  position: absolute;
  margin-left: 24px;
  margin-top: 7px;
  z-index: 2;
}

#header form input[type="text"]{
  background: white url('/static/openid-icon.gif') no-repeat;
  position: relative;
  width: 200px;
  font-size: 110%;
  margin-right: 10px;
  padding-left: 20px;
  z-index: 1;
}

#header #nav {
  float: right;
  margin: 120px 0 0 10px;
  list-style: none;
}

#header #nav li {
  float: left;
}

#header #nav li a {
  font-size: 0.9em;
  color: #F5F4BD;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Georgia;
  text-decoration: none;
  padding: 7px 15px;
  margin: 0 2px;
  display: block;
  line-height: 120%;
}

#header #nav li a:hover {
  background: #A36E49;
}

#home #nav .home a, #what #nav .what a {
  background: #cf7842;
}

#home #nav .home a:hover, #what #nav .what a:hover{
  background: #cf7842;  
}

#content {
  padding: 10px;
  margin-top: -17px;
  font-size: 1.2em;
}

ul#peg_list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  overflow: auto;
}

ul#peg_list li {
  float: left;
  width: 85px;
  height: 105px;
  border: 1px solid black;
  margin: 3px;
  padding: 2px;
}

ul#peg_list li img {
  margin: 5px 0 5px 5px;
}

ul#peg_list li span {
  font-size: 90%;
  margin-left: 4px;
  margin-top: 2px;
}

#footer {
 clear: left;
}

#peg_popup_wrap {
  background: black;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

#peg_popup {
  background: white;
  width: 300px;
  border: 2px solid black;
}

#new_peg {
  
}

#new_peg label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

#new_peg input[type="text"] {
  width: 340px;
  margin-left: 10px;
}

#new_peg textarea {
  width: 340px;
  height: 50px;
  display: block;
  margin-left: 10px;
}

#new_peg #image_area {
  width: 462px;
  position: relative;
  background: #999;
  border-style: outset;
  border-style: groove;
  border: 3px inset black;
  height: 78px;
  max-height: 78px;
/*  overflow: auto;*/
  float: left;
}

#new_peg #image_area img {
  border: 1px solid #999;
  margin-top: 2px;
}

#new_peg br {
  clear: left;
}

#new_peg #image_area .selected {
  border: 1px solid blue;
}

.image_button {
  float: left;
  height: 78px;
  width: 20px;
  background: #888;
  border: 3px outset black;
  margin: 0 2px;
  line-height: 80px;
  text-align: center;
  font-family: "Goudy Old Style", "Palatino","Book Antiqua",serif;
  font-size: 160%;
}

#image_up {
  
}