<h1>Welcome to Peg list from Meta | ateM</h1>

<p>
    A peg list is a memory device that has been used for thousands of years.
</p>

<p>
    For more information on peg lists and why they are useful for anyone, 
    <a href="/what">read “What is a peg list”</a>.
</p>

<p>
    Peg list from Meta | ateM will let you record your peg list, and associate 
    each peg with an image to help strengthen the association — peg lists work best 
    when your form pictures in your mind.
</p>

<p>
    If you’re ready to get started — log in at the top of the page with any
    <a href="http://en.wikipedia.org/wiki/OpenID">OpenID</a> address.
</p>
