<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Peglist from Meta | ateM</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body id="home">
    <div id="page">
        <div id="header">
            <h2 id="logo">
                <a href="/"><img src="/images/logo.png" "Peg list at Meta | ateM"></a>
            </h2>
            
            <div class="wrap">
                <hr>
                LOGIN
                <hr>
                
                <ul id="nav">
                    <li class="home"><a href="/">Home {{{ amp }}} Peg list</a></li>
                    <li class="what"><a href="/what">What is a Pest list?</a></li>
                </ul>
            </div>
        </div>
        
        <div id="content">
            {{{ yield }}}
        </div>
        
        <div id="footer"></div>
    </div>
</body>
</html>
