<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Peglist from Meta | ateM</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body id="home">
    <div id="page">
        <div id="header">
            <h2 id="logo">
                <a href="/"><img src="/images/logo.png" "Peg list at Meta | ateM"></a>
            </h2>
            
            <div class="wrap">
                <hr>
                {{#logged_in}}
                    OH man, nice to see you again
                {{/logged_in}}
                {{#not_logged_in}}
                    <form action="/login" method="post">
                        <div>
                            <label for="login_openid" id="login_openid_label">
                                your OpenID address
                            </label>
                            <input type="text" name="openid_url" id="login_openid">
                            <input type="submit" value="login">
                        </div>
                    </form>
                {{/not_logged_in}}
                <hr>
                
                <ul id="nav">
                    <li class="home"><a href="/">Home {{{ amp }}} Peg list</a></li>
                    <li class="what"><a href="/what">What is a Peg list?</a></li>
                </ul>
            </div>
        </div>
        
        <div id="content">
            {{{ yield }}}
        </div>
        
        <div id="footer"></div>
    </div>
</body>
</html>
